## from /jekyll/docs/
.idea/
test/

## from /jekyll/
# Jekyll
_site/
*-cache/
.jekyll-metadata

# Ruby
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
*.gem

# Files
.analysis
.DS_Store
*.swp
*~

# Folders
/vendor
bbin/
bin/
coverage
pkg/
tmp/*
